
<div class="wrapper">
  <center> <a href="/index.html"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div class="wrapper">
  <center>
    <div class="trigger site-navigation">
      <a class="page-link" href="/">about</a>
      <span class="exclamationMark">/</span><a class="page-link" href="/experience/">experience</a>
      <span class="exclamationMark">/</span><a class="page-link" href="/personal/">personal</a>
      <span class="exclamationMark">/</span><a class="page-link" href="/archive/">archive</a>
    </div>
  </center>
</div>
